#
# JavaBean Tester (https://github.com/hazendaz/javabean-tester)
#
# Copyright 2012-2020 Hazendaz.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of The Apache Software License,
# Version 2.0 which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0.txt
#
# Contributors:
#     CodeBox (Rob Dawson).
#     Hazendaz (Jeremy Landis).
#

name: SonarCloud

on:
  push:
    branches:
      - master

jobs:
  build:
    if: github.repository_owner == 'hazendaz'
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: zulu
      - name: Analyze with SonarCloud
        run: ./mvnw verify jacoco:report sonar:sonar -B -D"sonar.projectKey=hazendaz_javabean-tester" -D"sonar.organization=hazendaz" -D"sonar.host.url=https://sonarcloud.io" -D"sonar.login=$SONAR_TOKEN" -D"license.skip=true" --no-transfer-progress
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
